h1 {
  color: darkslategrey;
  font-style: italic;
}

#color-palette {
  width: 450px;
  height: 50px;
}

.color {
  border: black solid 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

#black {
  background-color: black;
}

#red {
  background-color: #E23B2E;
}

#green {
  background-color: #4FAF28;
}

#blue {
  background-color: #357AE8;
}

.coluna {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-top: 2%;
    padding: 2px;
}

.pixel {
  border: rgb(47, 50, 48) solid 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: white;
}






