h1 {
  color: darkslategrey;
  font-style: italic;
}

#color-palette {
  width: fit-content;
  height: 50px;
}

.color {
  border: black solid 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 2px;
}

#black {
  background-color: black;
}

#red {
  background-color: #E23B2E;
}

#green {
  background-color: #4FAF28;
}

#blue {
  background-color: #357AE8;
}

#pixel-board {
  width: 240px;
  display: inline-block;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

/* .coluna {
  height: 40px;
  width: 40px;
  display: inline-block;
} */

.pixel {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}

.selected {
    
}